@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.containerPri {
    background-image: url(https://images7.alphacoders.com/528/528856.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.navBar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap: 10%;
}

.navBar h1 {
    color: white;
    font-size: 45px;
    text-shadow: 3px 3px black;
    font-family: 'Russo One', sans-serif;
}

select {
    padding: 4px;
    border-radius: 4px;
}

.linkHome {
    text-decoration: none;
    color: white;
    border: 2px solid gray;
    padding: 5px;
    border-radius: 6px;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-banner-abstracto-formas-rojas_1361-3348.jpg?w=1380&t=st=1663970148~exp=1663970748~hmac=1b9b55f5d0db726ba30a47f23ccac6c5b840856cb3063d7b7c0b7b684dd5e122);
    background-size: cover;
    transition: 0.3s;
    transition: all 400ms ease;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Russo One', sans-serif;
}

.linkHome:hover {
    color: white;
    background-image: url(https://img.freepik.com/foto-gratis/fondo-banner-trazo-pincel-rojo-negro-perfecto-canva_1361-3597.jpg?w=1060&t=st=1663970232~exp=1663970832~hmac=a8dec9c2a04b284ef2b56ed59f92fee35b804f6aeac8d59fdd3950f45c48956f);
    background-size: cover;
    border-color: white;
    transform: translateY(-20%);
}

.linkHome:visited {
    color: none;
}

.botonCargar {
    cursor: pointer;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid gray;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-banner-abstracto-formas-rojas_1361-3348.jpg?w=1380&t=st=1663970148~exp=1663970748~hmac=1b9b55f5d0db726ba30a47f23ccac6c5b840856cb3063d7b7c0b7b684dd5e122);
    background-size: cover;
    color: white;
    transition: 0.3s;
    transition: all 400ms ease;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Russo One', sans-serif;
}

.botonCargar:hover {
    color: white;
    background-image: url(https://img.freepik.com/foto-gratis/fondo-banner-trazo-pincel-rojo-negro-perfecto-canva_1361-3597.jpg?w=1060&t=st=1663970232~exp=1663970832~hmac=a8dec9c2a04b284ef2b56ed59f92fee35b804f6aeac8d59fdd3950f45c48956f);
    background-size: cover;
    border-color: white;
    transform: translateY(-20%);
}

.contSelects {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.selects {
    width: 15%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    min-height: 35px;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-forma-franja-geometrica-minima_1409-1014.jpg?w=1060&t=st=1663962819~exp=1663963419~hmac=e5fca3a6dda1ed472ce38c7440f0fdcedc14a8fb8ac7988dcad4827248a834d8);
    background-size: cover;
    color: white;
    outline: none;
    padding: 0px 10px;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    background-color: #13368A;
    cursor: pointer;
    font-family: 'Russo One', sans-serif;
}

.filtrarJuegos {
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 30px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(29, 167, 165);
    text-shadow: 3px 3px black;
    letter-spacing: 8px;
}

.loading {
    display: flex;
    align-items: center;
}

.perro {
    height: 300px;
    margin-bottom: 173px;
}

.h1load{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    color: white;
}

.cardlink {
    text-decoration: none;
}