@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.contLan{
    background-image: url(https://www.gamewallpapers.com/wallpapers_slechte_compressie/01wallpapers/wallpaper_hogwarts_legacy_01_1920x1080.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: table;
    margin: 0;
    top: 0; 
}

.segCont {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.terCont {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.terCont h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 500%;
    letter-spacing: 5px;
    color: #172A31;
    text-shadow: 0 0 500px white;
    text-shadow: 2px 2px white;
}

.link {
    position: relative;
    display: inline-block;
    padding: 40px 10px;
    letter-spacing: 13px;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    color: #CCB08B;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    text-shadow: 3px 3px black;
}

.link:hover {
    background: #351717d0;
    box-shadow: 0 0 10px #351717d0, 0 0 40px #351717d0, 0 0 80px #351717d0;
}